@model Bank_ATM.Models.Person
@{
    ViewData["Title"] = "ATMView";
}



<div class='text-center'>
    <h3>ATM Menu</h3>
    <p>Welcome @Model.firstName, Please select following:</p>
    <ul style = "display:inline-block; *display: inline; zoom:1">
    <li>
        <a  href= "@Url.Action("BalanceEnquiry", "Home", @Model)">
            1. Balance Enquiry
        </a>
    </li>
    <li>
        <a  href= "@Url.Action("Withdrawal", "Home", new {id = @Model.id })">
            2. Withdrawal
        </a>
    </li>
    <li>
        <a  href= "@Url.Action("CashDeposit", "Home", new {id = @Model.id })">
            3. Cash Deposit
        </a>
    </li>
    <li><a  href= "@Url.Action("AddPayee", "Home", new {id = @Model.id })">
            4. Transfer Money
        </a>
    </li>
    <li><a  href= "@Url.Action("RecentTransactions", "Home", new {id = @Model.id })">
            5. Recent Transactions
        </a>
    </li>
    </ul>

    <div>
    <a asp-action ="Index">Logout</a>
    </div>

</div>
